include LICENSE
include setup.cfg
include MANIFEST.in
include *.md
include requirements.txt
graft src/SeisMix
recursive-exclude * *.py[co]
recursive-include SeisMix/examples/include versioneer.py
include src/SeisMix/_version.py
include versioneer.py
