include LICENSE
include MANIFEST.in
include *.md
include requirements.txt
graft SeisMix
recursive-exclude * *.py[co]
include setup.py
# recursive-include SeisMix/examples/include versioneer.py
# include src/SeisMix/_version.py
# include versioneer.py
